@import "tailwindcss";
@plugin "daisyui" {
  themes: dark;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(13% 0.028 261.692);
  --color-base-200: oklch(21% 0.034 264.665);
  --color-base-300: oklch(27% 0.033 256.848);
  --color-base-content: oklch(96% 0.003 264.542);
  --color-primary: oklch(84% 0.143 164.978);
  --color-primary-content: oklch(26% 0.051 172.552);
  --color-secondary: oklch(85% 0.138 181.071);
  --color-secondary-content: oklch(27% 0.046 192.524);
  --color-accent: oklch(84% 0.143 164.978);
  --color-accent-content: oklch(26% 0.051 172.552);
  --color-neutral: oklch(44% 0.03 256.802);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}
